
.wd-rounded {
  border-radius: 25px;
  color:white;
margin-top:10px;
margin-left:35px;
  background-color:#A9A9A9

}

body {
font-family: "Segoe UI", Arial, sans-serif;

  margin-left:16px;
    border-color:rgb(47, 51, 54);
    border: 2px solid gray;
}
.wd-table{
font-size: 15px;
  padding: 16px;
  color: rgb(110, 118, 125);
}
.wd-highlighted{
color: rgb(29,161,242);
}
.wd-text-link{
color: rgb(110, 118, 125);}

.wd-topic{
color: rgb(110, 118, 125);
font-size:13px;
}
.wd-title{
font-size: 15px;
color:white;
}
.wd-img{
float:right;
border-radius: 25px;
margin-right:12px;
margin-top:8px;
}
.wd-Author{
color:white;}
.wd-Post{
color:white;}

.wd-img-dots{
float:right;
border-radius: 25px;font-size:28px;color:gray;
margin-right:12px;
}
