body{
  margin-top:20px;
  font-family: Segoe UI;
  margin-bottom:20px;
  }

    .pos-fixed {
  position: fixed;
  left: 20px;
  bottom: 90%;
}
.dimension-square {
   width: 75px;
   height: 75px;
}
.form-control {
    padding-left: 2.375rem;
}
.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

